* {
            margin: 0;
            font-family: Arial;
            box-sizing: border-box;
 }

.background {
    margin: 0;
    padding: 0;
    background-color: rgb(207, 66, 66);
    height: 450vh; 
    width: 100%;   
    background-image: url('https://w.wallhaven.cc/full/o5/wallhaven-o5qpg9.png'); 
}

.heading{
    height: 50px;
    width: 1112px;
    background-color: rgb(37, 90, 90);
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('https://w.wallhaven.cc/full/o5/wallhaven-o5qpg9.png'); */
    /* background-image: url('vv1.png');
    color: rgb(49, 111, 111); */
}
.heading h1{
    font-family: 'Oswald', sans-serif; 
    
}
.img1{
    margin-top: 4px;
    margin-left: 4px;
    height: 200px;
    width: 205px;
    border: 4px solid aquamarine;
    border-radius: 2px;
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}
.p1{
    height: 30px;
    width: 205px;
    background-color: aquamarine;
    margin-left: 4px;
    border-radius: 2px;
}
.p2{
    display: flex;
    align-items: center;
    margin-left: 6px;
    color: rgb(193, 19, 109);
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

/* .row {
    display: flex;          
    flex-wrap: wrap;        
    justify-content: space-evenly;           
    justify-content: center;
} */

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 10px;                   
    margin: 0;                   
    padding: 0;                  
}


.img-block {
    display: flex;
    flex-direction: column; 
    align-items: center;
}